.hero-section {
    background-image: url('../assets/img/event-hero.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-purple {
    background-color: #000412;
}

.bg-item {
    background-color: #131c31;
}



@media screen and (min-width: 576px) {
    .custom-rounded {
        border-radius: 0 !important;
    }

    .custom-border {
        border-radius: 20px;

        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.25),
            0 0 10px rgba(255, 255, 255, 0.12),
            0 0 20px rgba(255, 255, 255, 0.06);
    }

}