SERVER_PORT=3000
FRONTEND_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_NAME=BuildWeek2DBprova
DB_USER=postgres
DB_PASS=postgres

JWT_TOKEN=Zotge48INoHXrBk4jraRfTGlAylZj76Jm6BkYmVbPe5
JWT_EXPIRES_IN=7d

NODE_ENV=development