//PALETTE COLORI
$viola-light: #5E41EE;
$viola-dark: #4e37c0;
$white: #FFFFFF;
$gray: #B6BDD2;

// BACKGROUND
$bg-primary: #000412;
$bg-secondary: #0D1320;
$bg-card: #0B111E;
$bg-card-hover: #182235;
$bg-item-dark: #0B111E;